node_modules/
agent/node_modules/
server/node_modules/
*.swp
*.log
old
agent/config/conf-enabled/
agent/config/connection.json
supervisor/config/*/setup/configs/
dump
uploads/
agent/scripts/
local.json
npm-debug.log
*~
playground/aws/*sh*ts:*
log
web/*
supervisor/*
theeye-agent/*
mongodump
sources
redis
mongodb
